name: docker_push

on:
  push:
    branches:
    - main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - 
        name: set up Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}      
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: dataroots/tutorial-great-expectations:latest